.main {
  height: 100vh;
}

.center {
  position: relative;
  border: 1px solid rgb(241, 241, 241);
  background-color: rgb(199, 196, 196);

  height: 80vh;
  width: 90vw;
  overflow: hidden; /* Añadido para ocultar el desbordamiento del contenido */
}

.secondBox {
  position: absolute;
  top: 30vh;
  left: 30vh;
  transition: top 0.0001s, left 0.0001s;
}


.caja2{
  height: 15vh;
  width: 35vh;
  background-color: crimson;
}

.caja3{
  display: flex;
  height: 4vh;
  width: 35vh;
  background-color: wheat;
  
}



.containerSprite{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 80px;
}




.pj{
  position: absolute;
  bottom:0;
}
.pj2{
  position: absolute;
  bottom:0;
  right: 0;
  background-color: wheat;

}
.NuevaCaja{
  background-color: rgb(222, 154, 27);
  width: 100px;
  height: 100px;
}
/* En el caso de ser 100% */

/* 
.sprite{
  height: 32px;
  width: 28px;
  background-position: 0px 0;
  animation: move 0.8s steps(4) infinite;
  background-image: url('../img/Sprites.png');
}

@keyframes move {
  to{
    background-position: -128px 0;
  }
}
 */


/* En el caso de ser 300% */
 /* 
 
 .sprite{
  height: 94px;
  width: 80px;
  background-position: 0px 0;
  animation: move 0.8s steps(4) infinite;
  background-image: url('../img/Sprites.png');
}

@keyframes move {
  to{
    background-position: -384px 0px;
  }
}
 */