.main {
  width: 350vw;
  height: 350vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: relative;
  height: 350vh;
  width: 350vw;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}





.obstacle {
  width: 50vw;
  height: 100%;
  grid-area: 1 / 50 / 51 / 51;
  z-index: 1000;
  background-color: rgba(122, 122, 122, 0.199);
}

.obstacle4 {
  width: 50vw;
  height: 100%;
  grid-area: 1 / 1 / 51 / 2;
  z-index: 1000;
  background-color: rgba(122, 122, 122, 0.199);
}


.obstacle2 {
  width: 100%;
  height: 60vh;
  grid-area: 1 / 2 / 2 / 50;
  z-index: 1000;
  background-color: rgba(122, 122, 122, 0.199);
}

.obstacle3 {
  width: 100%;
  height: 30vh;
  z-index: 1000;
  grid-area: 50 / 2 / 51 / 50;
  background-color: rgba(122, 122, 122, 0.199);
}





.casaImage {
  grid-area: 1 / 48 / 2 / 49;
  height: 75vh;
  width: 50vw;

}


/* Casa */
.obstacle5 {
  width: 50vw;
  height: 65vh;
  z-index: 1000;
  grid-area: 1 / 48 / 2 / 49;
  background-color: rgba(219, 202, 12, 0.116);

}

.containerSprite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 80px;
}





/* En el caso de ser 100% */

/* 
.sprite{
  height: 32px;
  width: 28px;
  background-position: 0px 0;
  animation: move 0.8s steps(4) infinite;
  background-image: url('../img/Sprites.png');
}

@keyframes move {
  to{
    background-position: -128px 0;
  }
}
 */


/* En el caso de ser 300% */
/* 
 
 .sprite{
  height: 94px;
  width: 80px;
  background-position: 0px 0;
  animation: move 0.8s steps(4) infinite;
  background-image: url('../img/Sprites.png');
}

@keyframes move {
  to{
    background-position: -384px 0px;
  }
}
 */