/* En el caso de ser 300% */

.sprite {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: top 0.00001s, left 0.00001s; /* Añadido para suavizar el movimiento */
  height: 100px;
  width: 60px;
  background-image: url('/img/Sprites.svg');
  background-size: 650%; /* Ajusta el tamaño de la imagen */
  animation: 0.8s steps(4) infinite;
  background-position-x: -15px;
  z-index: 10000;
}
.spriteNotMoveS{
  background-position-y: 0px;
  animation-name: notmoveS;
}

@keyframes notmoveS {
  to{
    background-position: -405px -0px;
  }
}

.spriteMoveS {
  background-position-y: -97px;
  animation-name: moveS;

}

@keyframes moveS {
  to{
    background-position: -405px -97px;
  }
}

.spriteNotMoveD {
  background-position-y: -195px;
  animation-name: notmoveD;

}

@keyframes notmoveD {
  to {
    background-position: -405px -195px;
  }
}

.spriteMoveD {
  background-position-y: -293px;
  animation-name: moveD;
}

@keyframes moveD {
  to {
    background-position: -405px -293px;
  }
}

.spriteNotMoveW {
  background-position-y: -390px;
  animation-name: notmoveW;
}

@keyframes notmoveW {
  to {
    background-position: -405px -390px;
  }
}

.spriteMoveW {
  background-position-y: -488px;
  animation-name: moveW;
}

@keyframes moveW {
  to {
    background-position: -405px -488px;
  }
}

.spriteNotMoveA {
  background-position-y: -585px;
  animation-name: notmoveA;
}

@keyframes notmoveA {
  to {
    background-position: -405px -585px;
  }
}

.spriteMoveA {
  background-position-y: -685px;
  animation-name: moveA;
}

@keyframes moveA {
  to {
    background-position: -405px -685px;
  }
}


/* En el caso de ser 100% */

/* 
  .sprite{
    height: 32px;
    width: 28px;
    background-position: 0px 0;
    animation: move 0.8s steps(4) infinite;
    background-image: url('../img/Sprites.png');
  }
  
  @keyframes move {
    to{
      background-position: -128px 0;
    }
  }
   */


/* En el caso de ser 300% */
/* 
   
   .sprite{
    height: 94px;
    width: 80px;
    background-position: 0px 0;
    animation: move 0.8s steps(4) infinite;
    background-image: url('../img/Sprites.png');
  }
  
  @keyframes move {
    to{
      background-position: -384px 0px;
    }
  }
   */