.navegacion {
    display: flex;
    position: fixed;
    bottom: 0;
    background: #151515;
    width: 100vw;
    height: 10vh;
    z-index: 10000000000000000;

    & .pj {
        position: fixed;
        bottom: 0;
        background: #151515;
        z-index: 100000000000000000;
    }

    & .links {
        margin-left: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

        & .link {
            margin-left: 5vw;
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
        }
    }
}